{% extends 'home.html' %}
{% block title %}Log In{% endblock %}
{% block body %}
{% load static %}
  <!-- breadcrumb start-->
  <section class="breadcrumb breadcrumb_bg">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-8">
          <div class="breadcrumb_iner">
            <div class="breadcrumb_iner_item">
              <h2>Shop Single</h2>
              <p>Home <span>-</span> Shop Single</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- breadcrumb start-->
  <!--================End Home Banner Area =================-->

  <!--================Single Product Area =================-->
  <div class="product_image_area section_padding">
    <div class="container">
      <div class="row s_product_inner justify-content-between">
        <div class="col-lg-7 col-xl-7">
          <img src="{{ product.product_image.url }}">
        </div>
        <div class="col-lg-5 col-xl-4">
          <div class="s_product_text">
            <h3>{{ product.name }}</h3>
            <h2>${{ product.price }}</h2>
            <ul class="list">
              <li>
                <a class="active" href="#">
                  <span>Category</span> : {{ product.category }}</a>
              </li>
            </ul>
            <p>
              {{ product.description }}
            </p>
            <div class="card_area d-flex justify-content-between align-items-center">
              <a href="{% url 'checkout' c.id %}" class="btn_3">buy now</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--================End Single Product Area =================-->
{% endblock %}